@model ProyectoIdentity.Models.Domain.Cliente

@{
    ViewData["Title"] = "Detalles del Cliente";
}

<h1>Detalles del Cliente</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DNI_CUIT_CUIL)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DNI_CUIT_CUIL)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TipoCliente)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TipoCliente)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Notas)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Activo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClienteId" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
</div>