@model ProyectoIdentity.Models.Domain.Audiencia

@{
    ViewData["Title"] = "Eliminar Audiencia";
}

<h1>Eliminar Audiencia</h1>

<h3>¿Está seguro de que desea eliminar esta audiencia?</h3>
<div>
    <h4>Audiencia</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Caso)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Caso.Titulo) (@Html.DisplayFor(model => model.Caso.Cliente.NombreCompleto))
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TipoAudiencia)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TipoAudiencia)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AudienciaId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>